

@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:700italic);

@font-face {
  font-family: 'league-gothic';
  src: url('/include/fonts/League-Gothic/LeagueGothic-Regular.otf');
}
// @font-face {
//   font-family: 'open-sans';
//   src: url('/include/fonts/open-sans/OpenSans-Regular.ttf');
// }

@font-face {
  font-family: "iconFont";
  src: url('/include/vendor/Metro-UI-CSS/fonts/iconFont.eot');
  src: url('/include/vendor/Metro-UI-CSS/fonts/iconFont.eot?#iefix') format('embedded-opentype'), url('/include/vendor/Metro-UI-CSS/fonts/iconFont.svg#iconFont') format('svg'), url('/include/vendor/Metro-UI-CSS/fonts/iconFont.woff') format('woff'), url('/include/vendor/Metro-UI-CSS/fonts/iconFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


$white: #fff;
$black: #000;
$grey: #eee;

$red:    #ff0000;
$orange: #D91504;
$yellow: #ffcf00;
$green:  #81ba10;
$blue:   #0fa7d2;

.bg-red    { background-color: $red; }
.bg-orange { background-color: $orange; }
.bg-yellow { background-color: $yellow; }
.bg-green  { background-color: $green; }
.bg-blue   { background-color: $blue; }

.col-red    { color: $red; }
.col-orange { color: $orange; }
.col-yellow { color: $yellow; }
.col-green  { color: $green; }
.col-blue   { color: $blue; }

body.no-touch {
  .hover-red:hover    { color: $red !important; }
  .hover-orange:hover { color: $orange !important; }
  .hover-yellow:hover { color: $yellow !important; }
  .hover-green:hover  { color: $green !important; }
  .hover-blue:hover   { color: $blue !important; }
}





@-webkit-keyframes animation_scale {
  0%, 100%  { -webkit-transform: scale(1.0); }
  50%       { -webkit-transform: scale(0.85); }
}
@-moz-keyframes animation_scale {
  0%, 100%  { -moz-transform: scale(1.0); }
  50%       { -moz-transform: scale(0.85); }
}
@-o-keyframes animation_scale {
  0%, 100%  { -o-transform: scale(1.0); }
  50%       { -o-transform: scale(0.85); }
}
@keyframes animation_scale {
  0%, 100%  { transform: scale(1.0); }
  50%       { transform: scale(0.85); }
}


@mixin breakpoint($point){

  @if $point == "large" {
    @media (min-width: 40em) {
      @content
    }
  }
    
  // @else if $point == "medium" {
  //   @media (min-width: 32em) {
  //     @content
  //   }
  // }

  @else if $point == "small" {
    @media (max-width: 40em) {
      @content
    }
  }
      
}
  



/* 

  Typography 

*/

$sans: 'Open Sans', Helvetica, sans-serif;
$league: 'league-gothic', 'regular', serif;

body {
  font-family: $sans;
  -webkit-font-smoothing: antialiased;

  -webkit-transition: background-color 0.5s ease;
     -moz-transition: background-color 0.5s ease;
      -ms-transition: background-color 0.5s ease;
       -o-transition: background-color 0.5s ease;
          transition: background-color 0.5s ease;
}





h1 {
  font-family: $league;
  font-size: 6rem;
  margin: 0;
  font-weight: lighter;
}

h2 { font-size: 1.8rem; }
h3 { font-size: 1.2em; }

.content {
  font-size: 0.8rem;
  line-height: 1.5;
}

.caption {
  font-style: italic;
  color: #999;
}





/*

  Main content


*/

#main {

}

.view {
  position: absolute;
  top: 0;
  left: 20%;
  bottom: 0;
  right: 0;

  display: none;

  // Transitioning
  &.in, &.out, &.active { display: block; }

  .transition & {
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
  }
  
  .left & {
    &.in {
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
       -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
           transform: translateX(-100%);
    }

    &.active {
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
       -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
           transform: translateX(0%);
    }

    &.out {
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
       -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
           transform: translateX(100%);
    }
  }

  .right & {
    &.in {
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
       -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
           transform: translateX(100%);
    }

    &.active {
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
       -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
           transform: translateX(0%);
    }

    &.out {
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
       -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
           transform: translateX(-100%);
    }
  }
  

  .content {

    position: relative;
    display: block;
    width: 80%;
    max-width: 40rem;
    top: 5rem;
    margin-left: 12%;
    margin-bottom: 5rem;

    @include breakpoint(small){
      padding: 0 1em;
    }
  }

  .title {
    position: relative;
    display: block;
    margin-bottom: 1em;

    font-family: $league;
    font-size: 6rem;
    line-height: 1;

    margin: 0;
    font-weight: lighter;

    .overhang {
      position: absolute;
      left: -7rem;
      top: 0;
    }

    .circle {
      width: 5rem;
      height: 5rem;
      margin: 0.5rem;

      img { 
        width: 100%;
        border-radius: 100%;
      }
    }


  }
    
}










/*

  Navigation

*/

.icon {
  font-family: "iconFont";
  text-align: center;

  font-size: 1.1em;
  line-height: 2em;
  width:  2em;
  height: 2em;
}

// http://metroui.org.ua/icons.html

.icon-lines:before {    content:"\e105" }

.icon-file:before {     content: "\e00f" }
.icon-mail:before {     content:"\e01a" }
.icon-twitter:before {  content:"\e0c0" }
.icon-linkedin:before { content:"\e0dd" }
.icon-github-2:before { content:"\e0c9" }


#right-nav-button {
  display: none;

  @include breakpoint(small){
    display: block;
    top: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    font-size: 2.3em;
    text-align: center;
  }
}

#nav {
  position: fixed;
  
  top: 0;
  bottom: 0;
  left: 0;
  width: 20%;

  background: #555;
  color: white;

  body.red & { background-color: $red; }
  body.orange & { background-color: $orange; }
  body.yellow & { background-color: $yellow; }
  body.green & { background-color: $green; }
  body.blue & { background-color: $blue; }

  @include breakpoint(small){

    position: fixed;
    width: 100%;
    top: 5em;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);

    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;

    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);

    body.show-nav & {
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      transform: translateX(0%);
    }
  }


  .inner {
    top: 5em;
    margin: 0 auto;
    position: relative;
    width: 70%;
  }


  .logo {
    font-family: $league;
    font-size: 5em;
    margin-bottom: 2rem;
  }


  .local {
    margin-bottom: 1em;
    text-align: left;
    font-family: $sans;
    font-size: 1rem;
    line-height: 1.8;
    font-weight: bold;
    color: white;

    a {
      display: block;
      text-decoration: none;
      color: inherit;

      -webkit-transition: color 200ms;
         -moz-transition: color 200ms;
          -ms-transition: color 200ms;
           -o-transition: color 200ms;
              transition: color 200ms;
    }
  }
 
  .global {

    text-align: left;
    font-family: $sans;
    font-size: 0.9rem;
    font-weight: normal;

    a {
      display: block;
      text-decoration: none;
      
      color: white;

      body.no-touch &:hover { color: black; }

      .icon {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        width:  2em;
        height: 2em;
      }

    }
  }
  


  /* Nav Item */

  a.nav-item { padding-bottom: 0.5em; }

  .nav-item {

    display: block;
  
    text-decoration: none;
    text-align: left;
    font-family: $sans;
    font-size: 0.95rem;
    cursor: pointer;
    color: $black;

    -webkit-transition: color 200ms;
       -moz-transition: color 200ms;
        -ms-transition: color 200ms;
         -o-transition: color 200ms;
            transition: color 200ms;

    /* circle/icon to the left */

    .icon, .circle {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      width:  2em;
      height: 2em;
    }

    .circle {
      border-radius: 50%;
      border: 1px solid $grey;
    }
  

    body.no-touch &:hover {
      color: white;
    }

    body.no-touch &:hover .circle,
    body.no-touch &:hover .icon, {
      -webkit-animation: animation_scale 1s infinite; /* Safari 4+ */
      -moz-animation:    animation_scale 1s infinite; /* Fx 5+ */
      -o-animation:      animation_scale 1s infinite; /* Opera 12+ */
      animation:         animation_scale 1s infinite; /* IE 10+ */
    }

    /* label to the right */

    .nav-item-label {
      display: inline-block;
    }

    
  }

  /* colors for nav items */
  .spacer { height: 1rem; }

}
//   }
// }
