
@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:700italic);

@font-face {
  font-family: 'league-gothic';
  src: url('/include/fonts/League-Gothic/LeagueGothic-Regular.otf');
}
@font-face {
  font-family: 'open-sans';
  src: url('/include/fonts/open-sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: "iconFont";
  src: url('/include/vendor/Metro-UI-CSS/fonts/iconFont.eot');
  src: url('/include/vendor/Metro-UI-CSS/fonts/iconFont.eot?#iefix') format('embedded-opentype'), url('/include/vendor/Metro-UI-CSS/fonts/iconFont.svg#iconFont') format('svg'), url('/include/vendor/Metro-UI-CSS/fonts/iconFont.woff') format('woff'), url('/include/vendor/Metro-UI-CSS/fonts/iconFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$white: #fff;
$black: #000;
$grey: #eee;

$red: #D91504;
$yellow: #ffcf00;
$green: #81ba10;
$blue: #0fa7d2;



@-webkit-keyframes animation_scale {
  0%, 100%  { -webkit-transform: scale(1.0); }
  50%       { -webkit-transform: scale(0.85); }
}
@-moz-keyframes animation_scale {
  0%, 100%  { -moz-transform: scale(1.0); }
  50%       { -moz-transform: scale(0.85); }
}
@-o-keyframes animation_scale {
  0%, 100%  { -o-transform: scale(1.0); }
  50%       { -o-transform: scale(0.85); }
}
@keyframes animation_scale {
  0%, 100%  { transform: scale(1.0); }
  50%       { transform: scale(0.85); }
}


@mixin breakpoint($point){

  @if $point == "large" {
    @media (min-width: 40em) {
      @content
    }
  }
    
  // @else if $point == "medium" {
  //   @media (min-width: 32em) {
  //     @content
  //   }
  // }

  @else if $point == "small" {
    @media (max-width: 40em) {
      @content
    }
  }
      
}
  







.centered-content {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  top: 0;
}




html {

  zoom: 0.6;
  height: 100%;

  body {

    font-family: 'League Gothic';
    -webkit-font-smoothing: antialiased;

    height: 100%;
    min-width: 1200px;
    min-height: 1250px;


    /* stickey header & Footer taken from:

       http://stackoverflow.com/questions/10474354/layout-with-fixed-header-and-footer-fixed-width-sidebar-and-flexible-content
       http://jsfiddle.net/QH68c/1

       also, there's: http://aozora.github.io/bootplus/examples/sticky-footer-navbar.html
    */
    .header {

      background: #ddd;
      position:absolute;
      opacity: 0;
      top: 0;
      width:100%;
      height:60px;
      box-shadow: 0px 4px 5px #888888;

      .header-content {

        @extend .centered-content;

        .header-content-entry {

          font-family: "Gentium Book Basic", serif;
          font-style: italic;
          font-size: 40px;
          font-weight: bold;

          margin-top: 23px;
          margin-right: 2rem;
          float: left;
          cursor: pointer;
        }
        #cloudeditor-entry {
          font-family: 'PT Sans', Arial, Tahoma, Verdana, sans-serif;
          font-style: normal;
          font-weight: normal;
        }
      }
    }
    .footer {
      background:#f88;
      position:absolute;
      bottom:0;
      width:100%;
      height:40px;
    }
  }
}


.logo {
  border: 1px #eee solid;
  width: 6rem;
  height: 6rem;
  position: relative;
  float: left;
  text-align: center;
  line-height: 1.25;
  font-family: 'open-sans', serif;
  font-size: 4rem;
  background: url('/images/transistor.jpg') 11% no-repeat;
}

.primary-title {
  font-family: 'league-gothic', 'regular', serif;
  font-size: 10rem;
  font-weight: lighter;
}
.secondary-title {
  font-family: 'open-sans', serif;
  font-size: 2rem;
}
.post-title {
  font-size: 3rem;
}
.slide-content {
  font-family: 'open-sans', serif;
  font-size: 1.3rem;
  line-height: 1.6rem;
  .colleague {
    font-style: italic;
    color: #999;
  }
}



/*
  
  Sliding main content

*/

/* Horizontal sliding taken from this JSFiddle: http://jsfiddle.net/seB5F/378/ */
.slider {

  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  .slide-stretchable {

    width: 100%;
    height: 100%;
    white-space: nowrap;

    .slide-wrapper {

      width: 100%;
      height: 100%;
      margin-top: 12rem;
      display: inline-block;
      vertical-align: top;

      .slide-container {

        @extend .centered-content;
        .slide-left-overhang {

          @extend .circle;
          width: 10rem;
          height: 10rem;
          margin-top: 2rem;
          top: -6rem;
          left: -10.4rem;
          line-height: 1;
          position: absolute;

          font-family: league-gothic, regular, serif;
          font-size: 160px;
          font-weight: normal;
        }
        #me-pic {
          background: url('/images/me.jpg') no-repeat;
          //background-size: 17rem;
          //background-position-x: -3rem;
          background-size: 22rem;
          background-position-x: -4.5rem;
        }

        .slide-container-content {
          width: 930px;
          white-space: normal;
        }
      }
    }
    #wrapper-blog {
      overflow-y: scroll;
    }
  }
}





/*

  Navigation

*/

.icon {
  font-family: "iconFont";
  text-align: center;

  font-size: 1.1em;
  line-height: 2em;
  width:  2em;
  height: 2em;
}

.icon-lines:before {    content:"\e105" }

.icon-file:before { content: "\e00f"; }
.icon-mail:before {     content:"\e01a" }
.icon-twitter:before {  content:"\e0c0" }
.icon-linkedin:before { content:"\e0dd" }
.icon-github-2:before { content:"\e0c9" }


#right-nav-button {
  display: none;

  @include breakpoint(small){
    display: block;
    top: 0;
    left: 0;
    position: fixed;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    font-size: 2.3em;
    text-align: center;
  }
}

#right-nav {

  @include breakpoint(small){

    position: fixed;
    width: 100%;
    top: 5em;
    left: 0;

    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;

    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);

    body.show-nav & {
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      transform: translateX(0%);
    }
  }


  
  position: fixed;
  
  top: 12rem;
  right: 1rem;

  width: 14rem;

  padding: 0.5rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);


  /* Nav Item */

  .nav-item {

    display: block;
    padding-bottom: 0.5em;
  
    text-decoration: none;
    text-align: left;
    font-family: 'open-sans', serif;
    font-size: 1.7rem;
    line-height: 3.5rem;
    cursor: pointer;
    color: $black;

    /* circle/icon to the left */

    .icon, .circle {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      width:  2em;
      height: 2em;
    }

    .circle {
      border-radius: 50%;
      border: 1px solid $grey;
    }

    body.no-touch &:hover .circle,
    body.no-touch &:hover .icon, {
      -webkit-animation: animation_scale 1s infinite; /* Safari 4+ */
      -moz-animation:    animation_scale 1s infinite; /* Fx 5+ */
      -o-animation:      animation_scale 1s infinite; /* Opera 12+ */
      animation:         animation_scale 1s infinite; /* IE 10+ */
    }

    /* label to the right */

    .nav-item-label {
      display: inline-block;
    }

    
  }

  /* colors for nov items */

  #introduction .circle { background-color: $white; }
  #approach .circle { background-color: $red; }
  #services .circle { background-color: $yellow; }
  #blog .circle { background-color: $green; }
  #about .circle { background-color: $blue; }

  .spacer { height: 2rem; }

}
//   }
// }
