

@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:700italic);

@font-face {
  font-family: 'league-gothic';
  src: url('/include/fonts/League-Gothic/LeagueGothic-Regular.otf');
}
@font-face {
  font-family: 'open-sans';
  src: url('/include/fonts/open-sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: "iconFont";
  src: url('/include/vendor/Metro-UI-CSS/fonts/iconFont.eot');
  src: url('/include/vendor/Metro-UI-CSS/fonts/iconFont.eot?#iefix') format('embedded-opentype'), url('/include/vendor/Metro-UI-CSS/fonts/iconFont.svg#iconFont') format('svg'), url('/include/vendor/Metro-UI-CSS/fonts/iconFont.woff') format('woff'), url('/include/vendor/Metro-UI-CSS/fonts/iconFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


$white: #fff;
$black: #000;
$grey: #eee;

$orange: rgb(255, 140, 53);
$yellow: #ffcf00;
$green:  #81ba10;
$blue:   #0fa7d2;



@-webkit-keyframes animation_scale {
  0%, 100%  { -webkit-transform: scale(1.0); }
  50%       { -webkit-transform: scale(0.85); }
}
@-moz-keyframes animation_scale {
  0%, 100%  { -moz-transform: scale(1.0); }
  50%       { -moz-transform: scale(0.85); }
}
@-o-keyframes animation_scale {
  0%, 100%  { -o-transform: scale(1.0); }
  50%       { -o-transform: scale(0.85); }
}
@keyframes animation_scale {
  0%, 100%  { transform: scale(1.0); }
  50%       { transform: scale(0.85); }
}


@mixin breakpoint($point){

  @if $point == "large" {
    @media (min-width: 40em) {
      @content
    }
  }
    
  // @else if $point == "medium" {
  //   @media (min-width: 32em) {
  //     @content
  //   }
  // }

  @else if $point == "small" {
    @media (max-width: 40em) {
      @content
    }
  }
      
}
  



/* 

  Typography 

*/

$sans: 'open-sans', Helvetica, sans-serif;
$league: 'league-gothic', 'regular', serif;

body {
  font-family: $sans;
  -webkit-font-smoothing: antialiased;

  -webkit-transition: background-color 0.5s ease;
     -moz-transition: background-color 0.5s ease;
      -ms-transition: background-color 0.5s ease;
       -o-transition: background-color 0.5s ease;
          transition: background-color 0.5s ease;
}



.logo {
  border: 1px #eee solid;
  width: 6rem;
  height: 6rem;
  position: relative;
  float: left;
  text-align: center;
  line-height: 1.25;
  font-family: 'open-sans', serif;
  font-size: 4rem;
  background: url('/images/transistor.jpg') 11% no-repeat;
}

h1 {
  font-family: $league;
  font-size: 6rem;
  margin: 0;
  font-weight: lighter;
}

h2 { font-size: 1.8rem; }
h3 { font-size: 1.2em; }

.content {
  font-size: 0.8rem;
  line-height: 1.5;
}

.caption {
  font-style: italic;
  color: #999;
}





/*

  Main content


*/

#main {

}

.view {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: none;

  // Transitioning
  &.in, &.out, &.active { display: block; }

  .transition & {
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
  }
  
  .left & {
    &.in {
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
       -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
           transform: translateX(-100%);
    }

    &.active {
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
       -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
           transform: translateX(0%);
    }

    &.out {
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
       -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
           transform: translateX(100%);
    }
  }

  .right & {
    &.in {
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
       -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
           transform: translateX(100%);
    }

    &.active {
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
       -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
           transform: translateX(0%);
    }

    &.out {
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
       -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
           transform: translateX(-100%);
    }
  }
  

  .content {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 55rem;
    top: 5rem;

    padding-left: 5rem;
    padding-right: 12rem;
  }

  .title {
    position: relative;
    display: block;
    margin-bottom: 1em;

    font-family: $league;
    font-size: 6rem;
    margin: 0;
    font-weight: lighter;

    .overhang {
      position: absolute;
      left: -1em;
      top: 0;
    }

    .circle {
      width: 1em;
      height: 1em;

      img { 
        width: 100%;
        border-radius: 100%;
      }
    }


  }
    
}









// /*
  
//   Sliding main content

// */

// /* Horizontal sliding taken from this JSFiddle: http://jsfiddle.net/seB5F/378/ */
// .slider {

//   width: 100%;
//   height: 100%;
//   overflow-x: hidden;
//   overflow-y: hidden;

//   .slide-stretchable {

//     width: 100%;
//     height: 100%;
//     white-space: nowrap;

//     .slide-wrapper {

//       width: 100%;
//       height: 100%;
//       display: inline-block;
//       vertical-align: top;

//       .slide-container {

//         position: relative;
//         display: block;
//         margin-left: auto;
//         margin-right: auto;
//         width: 100%;
//         max-width: 55rem;
//         top: 5rem;

//         padding-left: 5rem;
//         padding-right: 12rem;

//         .slide-left-overhang {
//           top: 0;
//           left: 1rem;
//           position: absolute;
//         }

//         #me-pic {
//           background: url('/images/me.jpg') no-repeat;
//           background-size: 22rem;
//           background-position-x: -4.5rem;
//         }

//         .slide-container-content {
//           white-space: normal;
//         }
//       }
//     }
//     #wrapper-blog {
//       overflow-y: scroll;
//     }
//   }
// }





/*

  Navigation

*/

.icon {
  font-family: "iconFont";
  text-align: center;

  font-size: 1.1em;
  line-height: 2em;
  width:  2em;
  height: 2em;
}

// http://metroui.org.ua/icons.html

.icon-lines:before {    content:"\e105" }

.icon-file:before { content: "\e00f"; }
.icon-mail:before {     content:"\e01a" }
.icon-twitter:before {  content:"\e0c0" }
.icon-linkedin:before { content:"\e0dd" }
.icon-github-2:before { content:"\e0c9" }


#right-nav-button {
  display: none;

  @include breakpoint(small){
    display: block;
    top: 0;
    left: 0;
    position: fixed;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    font-size: 2.3em;
    text-align: center;
  }
}

#right-nav {

  position: fixed;
  
  top: 5rem;
  right: 1rem;

  padding: 0.5rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);


  @include breakpoint(small){

    position: fixed;
    width: 100%;
    top: 5em;
    left: 0;

    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;

    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);

    body.show-nav & {
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      transform: translateX(0%);
    }
  }


  


  /* Nav Item */

  .nav-item {

    display: block;
    padding-bottom: 0.5em;
  
    text-decoration: none;
    text-align: left;
    font-family: 'open-sans', serif;
    font-size: 1rem;
    cursor: pointer;
    color: $black;

    /* circle/icon to the left */

    .icon, .circle {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      width:  2em;
      height: 2em;
    }

    .circle {
      border-radius: 50%;
      border: 1px solid $grey;
    }

    body.no-touch &:hover .circle,
    body.no-touch &:hover .icon, {
      -webkit-animation: animation_scale 1s infinite; /* Safari 4+ */
      -moz-animation:    animation_scale 1s infinite; /* Fx 5+ */
      -o-animation:      animation_scale 1s infinite; /* Opera 12+ */
      animation:         animation_scale 1s infinite; /* IE 10+ */
    }

    /* label to the right */

    .nav-item-label {
      display: inline-block;
    }

    
  }

  /* colors for nav items */

  .introduction .circle { background-color: $white; }
  .approach .circle { background-color: $orange; }
  .services .circle { background-color: $yellow; }
  .blog .circle { background-color: $green; }
  .about .circle { background-color: $blue; }

  .spacer { height: 2rem; }

}
//   }
// }
