/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, ../templ/scss/index.scss */
html, body {
  min-width: 1000px;
  min-height: 1024px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* line 21, ../templ/scss/index.scss */
#main-pane {
  z-index: -2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 31, ../templ/scss/index.scss */
#overlay-pane {
  background: #f1efcf;
  width: 860px;
  height: 800px;
  position: relative;
  top: 0px;
  left: 40px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -o-border-bottom-left-radius: 8px;
  -ms-border-bottom-left-radius: 8px;
  -khtml-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -khtml-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  /* page curl effect 
   */
}
/* line 40, ../templ/scss/index.scss */
#overlay-pane #centre-column {
  position: relative;
  float: left;
  font-family: Courier, sans-serif;
  top: 65px;
  left: 100px;
  width: 500px;
  color: #1a1a1a;
  font-size: 3.2em;
  /* text shadow with transitions
   */
  text-shadow: #555555 -2px 2px 3px;
  -moz-transition-property: text-shadow;
  -webkit-transition-property: text-shadow;
  -o-transition-property: text-shadow;
  transition-property: text-shadow;
  -moz-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 56, ../templ/scss/index.scss */
#overlay-pane #centre-column:hover {
  text-shadow: #666666 -4px 2px 5px;
}
/* line 63, ../templ/scss/index.scss */
#overlay-pane:before, #overlay-pane:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 10px;
  left: 10px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
/* line 80, ../templ/scss/index.scss */
#overlay-pane:after {
  right: 10px;
  left: auto;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}

/* Ribbon Main 
 */
/* line 95, ../templ/scss/index.scss */
#main-ribbon {
  color: white;
  background: #0027d6;
  position: relative;
  float: left;
  top: -10px;
  left: 70px;
  width: 80px;
  height: 120px;
  /* transition for top location
   */
  -moz-transition-property: top;
  -webkit-transition-property: top;
  -o-transition-property: top;
  transition-property: top;
  -moz-transition-duration: 0.51s;
  -webkit-transition-duration: 0.51s;
  -o-transition-duration: 0.51s;
  transition-duration: 0.51s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -moz-box-shadow: black 3px 3px 7px;
  -webkit-box-shadow: black 3px 3px 7px;
  -o-box-shadow: black 3px 3px 7px;
  box-shadow: black 3px 3px 7px;
}
/* line 111, ../templ/scss/index.scss */
#main-ribbon:hover {
  top: -1px;
}
/* line 118, ../templ/scss/index.scss */
#main-ribbon:before, #main-ribbon:after {
  content: "";
  position: absolute;
  bottom: -40px;
  border-color: transparent transparent transparent #0027d6;
  border-style: solid;
  border-width: 40px;
  border-height: 20px;
  height: 0;
  width: 0;
}
/* line 131, ../templ/scss/index.scss */
#main-ribbon:after {
  border-color: transparent #0027d6 transparent transparent;
}

/* Ribbon menu items 
 */
/* line 140, ../templ/scss/index.scss */
.menu {
  position: absolute;
  right: -20px;
  top: 65px;
}
/* line 145, ../templ/scss/index.scss */
.menu .menu-item {
  padding: 10px;
  width: 150px;
  position: relative;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #f1efcf), color-stop(100%, #319adb));
  background: -webkit-linear-gradient(left, #f1efcf, #319adb);
  background: -moz-linear-gradient(left, #f1efcf, #319adb);
  background: -o-linear-gradient(left, #f1efcf, #319adb);
  background: -ms-linear-gradient(left, #f1efcf, #319adb);
  background: linear-gradient(left, #f1efcf, #319adb);
  -moz-transition-property: text-shadow;
  -webkit-transition-property: text-shadow;
  -o-transition-property: text-shadow;
  transition-property: text-shadow;
  -moz-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 155, ../templ/scss/index.scss */
.menu .menu-item:hover {
  text-shadow: #666666 -2px 2px 3px;
}
/* line 159, ../templ/scss/index.scss */
.menu .menu-item:after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 18px;
  right: -18px;
  border-color: transparent transparent transparent #1c84c6;
  border-style: solid;
  border-width: 18px;
  height: 0;
  width: 0;
}
