
@font-face {
  font-family: 'league-gothic';
  src: url('/include/fonts/League-Gothic/LeagueGothic-Regular.otf');
}
@font-face {
  font-family: 'open-sans';
  src: url('/include/fonts/open-sans/OpenSans-Regular.ttf');
}

body {
  font-family: 'League Gothic';
  -webkit-font-smoothing: antialiased;
}

.circle {
  border-radius: 50%;
}

.logo {
  border: 1px #eee solid;
  width: 6rem;
  height: 6rem; 
  position: relative;
  float: left;
  text-align: center;
  line-height: 1.25;
  font-family: 'open-sans', serif;
  font-size: 4rem;
  background: url('/images/transistor.jpg') 11% no-repeat;
}

.primary-title {
  font-family: 'league-gothic', 'regular', serif;
  font-size: 10rem;
  font-weight: lighter;
}
.secondary-title {
  font-family: 'open-sans', serif;
  font-size: 2rem;
}
.slide-content {
  font-family: 'open-sans', serif;
  font-size: 1.3rem;
  line-height: 1.6rem;
}


/* Horizontal sliding taken from this JSFiddle: http://jsfiddle.net/seB5F/378/ */
.slider {

  margin-top: 12rem;
  width: 100%;
  overflow-x: scroll; 
  overflow-y: hidden;

  .slide-stretchable {

    width: 100%;
    white-space: nowrap;

    .slide-wrapper {
      
      border: 1px solid blue;
      width: 100%;
      display: inline-block;

      .slide-container {
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 1200px;
        top: 0;
        .slide-container-content {
          width: 930px;
        }
      }
    }
  }
}

.navigation {
    
  margin-top: 12rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  .container {
    
    border: 1px solid black;
    width: 1200px;
    #right-nav {
    
      width: 14rem;
      height: 36rem;
      float: right;
      padding: 0.5rem;
      border-radius: 5;
      background-color: rgba(255, 255, 255, 0.9);
    
      /* generic nav-item */
      .nav-item {
        width: 3.6rem;
        height: 3.6rem;
        margin-bottom: 0.5rem;
        position: relative;
        float: left;
    
        text-align: center;
        font-family: 'open-sans', serif;
        font-size: 1.7rem;
        line-height: 3.5rem;
        cursor: pointer;
    
        /* For Modern CSS icons */
        .metrouicss {
          top: 0.4rem;
          .icons > li {
            list-style-type: none;
            zoom: 2;
          }
        }
      }
    
      /* colors for nov items */
      #home { 
        width: 3.4rem;
        height: 3.4rem;
        border: 1px #eee solid;
        line-height: 3.1rem;
      }
      #introduction { background-color: #ffcf00; }
      #approach { background-color: #81ba10; }
      #services { background-color: #da2020; }
      #about { background-color: #0fa7d2; }
    
      /* label to the right */
      .nav-item-label {
        position: relative;
        float: left;
        width: 9rem;
        height: 3.6rem;
        margin-bottom: 0.5rem;
        padding-left: 0.8rem;
        font-family: 'open-sans', serif;
        font-size: 1.7rem;
        line-height: 3.5rem;
      }
      .squeeze {
        margin: 0;
        height: 3.2rem;
        line-height: 2rem;
      }
      .spacer { height: 2rem; }
    }
  }
}



