%html
  %head
    %meta( charset="UTF-8" )
    %meta( name="viewport" content="width=device-width, initial-scale=1.0" )
    %title ;) Interrupt Software

  %body

    .container
      .circle.logo
        ; )
      Fubar

      #right-nav
        .nav-item.circle#home
          ; )
        .nav-item-label
          &nbsp;
        
        .nav-item.circle#introduction
        .nav-item-label
          Introduction
        
        .nav-item.circle#approach
        .nav-item-label
          Approach
        
        .nav-item.circle#services
        .nav-item-label
          Services
        
        .nav-item.circle#about
        .nav-item-label
          About

        .nav-item
        .nav-item-label
          CV

        .nav-item
        .nav-item-label
          Email

        .nav-item
        .nav-item-label
          Twitter

        .nav-item
        .nav-item-label
          LinkedIn


  %link( rel="stylesheet" href="/include/vendor/bootstrap/css/bootstrap.min.css" )
  %link( rel="stylesheet" href="/include/vendor/bootstrap/css/bootstrap-responsive.min.css" )
  %link( rel="stylesheet" href="/include/css/index.css" )

  %script( type="text/javascript" src="http://code.jquery.com/jquery-2.0.0.min.js" )
  %script( type="text/javascript" src="/include/vendor/bootstrap/js/bootstrap.min.js")


