!!!
%html( lang="en" )
  %head
    %meta( charset="UTF-8" )
    %meta( name="viewport" content="width=device-width, initial-scale=1.0" )
    %title ; ) Interrupt Software

    %link( rel="stylesheet" href="/include/vendor/bootstrap/css/bootstrap.min.css" )
    %link( rel="stylesheet" href="/include/vendor/bootstrap/css/bootstrap-responsive.min.css" )
    %link( rel="stylesheet" href="/include/vendor/Metro-UI-CSS/css/modern.css" )
    %link( rel="stylesheet" href="/include/css/index.css" )
  
    %script( type="text/javascript" src="/include/vendor/jquery-2.0.0.min.js" )
    %script( type="text/javascript" src="/include/vendor/bootstrap/js/bootstrap.min.js")
    %script( type="text/javascript" src="/include/vendor/jquery.serialScroll.js")
    %script( type="text/javascript" src="/include/vendor/jquery.scrollTo.js")
    %script( type="text/javascript" src="/include/vendor/jquery.easing.min.js")
    %script( type="text/javascript" src="/include/vendor/jquery.color-2.1.2.min.js")

  %body

    /.header
    /  .header-content
    /    .header-content-entry.secondary-title#bkeeping-entry
    /      bkeeping
    /    .header-content-entry.secondary-title#cloudeditor-entry
    /      cloudeditor
    .slider
      .slide-stretchable
        .slide-wrapper#wrapper-home
          .slide-container#slide-home
            .slide-left-overhang
              ; )
            .slide-container-content
              %h1.primary-title
                Interrupt Software
              %h3.secondary-title
                Custom Software Development &#x2F; Advanced Functionality &amp; Design Excellence

              %h4.slide-content
                %p
                  Tim is a gifted developer - thoughtful, strategic, and careful. We hired him to develop the StoryDesk CloudEditor. He delivered a beautiful, one-of-a-kind HTML5 content management system for iPad. I offer Tim my highest recommendation, as a colleague and a friend.
                .colleague
                  Jordan Stolper, CEO, StoryDesk.com

                %p
                  Tim is a strong Ruby and Rails developer, whom I worked with as a SCRUM Master on an operational data transformation and data store project. Tim was both proactive and balanced in his solutions from a business and technical standpoint, articulate, and was very effective in pair programming scenarios with different developers on the team. His attention to detail, adaptability and willingness to take on new challenges is further enhanced with his positive attitude. I would welcome working with Tim again and recommend him as a strong asset to any organization.
                .colleague
                  Cort Fowler, Product Manager and Business Analyst, Rogers Digital Media

                %p
                  Tim is one of the most intelligent, forward-thinking developers I've ever worked with. He possesses a deep pool of knowledge about all things related to software and uses that to engineer top-notch solutions. The diversity he's gained from experience with so many different languages and technologies gives him great perspective on technical approaches and strategies. He is also one of the most enthusiastic and proactive colleagues I've ever had the chance to work with, and I'm sure that he's up to any challenge that comes his way.
                .colleague
                  Stephen Kawaguchi, Engineer , Bank Of Montreal, IFL


        .slide-wrapper#wrapper-blog
          .slide-container#slide-blog
            .slide-container-content
              %h1.primary-title
                Blog

              %h2.secondary-title
                A Developer's Toolbox (Rich Internet Applications)

              %h3.secondary-title
                Overview

              %h5.slide-content
                %p
                  I'm often asked what are the best tools and technology stack for building a Web Application. For the purposes of this article, I'll focus on more advanced front-end representations - what are known as Rich Internet Applications (RIA(s)). I think it's useful to step back and consider the purpose and conceptions of Rich Internet Applications (RIA, synonymous with Single-Page Applications (SPA)). We can start by thinking back to when most applications were on the desktop. As the internet grew in popularity, Javascript was introduced into browsers (and Flash). Web pages grew in sophistication, as to begin to resemble full desktop apps. Now, we have things like Google docs, which are basically our old desktop apps extruded onto the web. I mention all of this in order to get us thinking about how we should be treating these new web apps. Ie, we should be treating these web apps like full applications. And with that, my opinion is that, to the highest degree possible, we should let a webapps do its own rendering, state changes, business logic, etc. It's a much cleaner design to i) pass raw HTML template chunks and ii) JSON data from RESTful services. The web app will have enough intelligence to take these, and generate a web view, UI functions, state transitions between the UI, etc. I advocate these principles to enforce a clean separation of concerns. It future-proofs the app, and allows for easily scaling machine resources, or adding new functionality. 

                %p
                  With this in mind, as an example, let's consider three MVC Web Frameworks - Ember, Angular, and Backbone. We'll take a semantic comparison between these libraries, and more, why a certain library would benefit us from a production, cost, time, future planning standpoint. So you can properly judge my position, I'll state from the beginning, my opinion that Backbone is usually the best tool for a front-end MVC solution. My experience is that it optimizes i) developer time (ie. speed to market), ii) production efficiency (it's very lightweight), iii) scalability, and iv) future flexibility. To begin, I present a useful Client-side JS MV* Framework Roundup. It gives a nod to the TodoMVC project. TodoMVC implements a simple todo app in all the web MVC frameworks. It's meant to help you select the best one for your needs. 

                %p
                  Like Rails, Ember is meant to be an opinionated framework, using common idioms. Views are handled via 2-way binding against rendered moustache templates. Angular is meant to be a way of declaring dynamic views in web-applications. It does this by letting you extend HTML vocabulary for your application. Angular also defines its own set of attributes and markup, which are processed by its JS library to provide browser-specific behaviour. Backbone is intended to be a lightweight and focused way of building single-page applications (or RIAs). It gives structure to web applications by providing models with key-value binding and custom events, collections, views with declarative event handling, etc. It connects it all to an existing API over a RESTful JSON interface. 

                %p
                  With the above, I'll begin with my preference to eschew the moustache approach to templates, used by Ember. It tangles together the raw HTML template chunks, with transformation logic. And it unnecessarily forces web designers to know Javascript or some other logical transformation language, reducing developer efficiency. There are better, more declarative path-based solutions, like PureJS. Ember also implements rendering logic on the server. This tangles together application functions, reducing future flexibility and scalability. The tangling I described earlier is also why I eschew Angular. 

                %p
                  Now, broadly listing a technology stack, will not address enough cases. Below, I'll outline three scenarios, or types of web applications, and an appropriate technology stack baseline. With each set of choices, I'll explain the tool and the rationale behind that choice. But I also want to step back again, and take a more holistic approach to my solutions. Before the Scenario Breakdown, I'll describe my approaches to i) Project Management, ii) thoughts on Pair Programming, and iii) a good approach for Testing and Test Automation. 


        .slide-wrapper#wrapper-introduction
          .slide-container#slide-introduction
            .slide-container-content
              %h1.primary-title
                Introduction
              %h4.slide-content
                %p
                  Interrupt Software is a premier software development boutique. I create and utilise the best tools possible, to identify the problem, craft a solution and distill the technology&apos;s role and interaction.
                %p
                  Interrupt Software offers advanced functionality and design excellence. Technology is more than the context. It has the ability to reimagine behaviour and experience. It connects users with messages and customers with business. And this creates a tremendous amount of business value.
                %p
                  At Interrupt Software, I program as fast as I think. There's a great deal a of value in a well thought out solution. And doing it well leverages your investment for long-term impact.

        .slide-wrapper#wrapper-approach
          .slide-container#slide-approach
            .slide-container-content
              %h1.primary-title
                Approach

              %h4.slide-content
                %p
                  As a Full Stack developer, I see solutions at all levels. Considerations range from user needs to innovation and software craftsmanship.
                %p
                  My skill applies not only to custom building your software. It also creates better solutions, faster, by extracting greater expressive power from my software tools.

              %h3.secondary-title
                Understanding The Problem.

              %h4.slide-content
                %p
                  To break new ground, you have to understand the context. Each business and customer is different. I assess and evaluate all elements so I can effectively conceptualize the most advanced problems.

              %h3.secondary-title
                Choosing My Tools

              %h4.slide-content
                %p
                  My expertise is in knowing what tools to utilise and to what extent. As much utilization as creation, I select best-of-breed tools that enable me to program as fast as I problem solve.

              %h3.secondary-title
                Crafting Impactful Solutions

              %h4.slide-content
                %p
                  I aim to generate business and technological value with the solutions I deliver to you. They have to perform on every level, be as visually stunning as functionally impactful.


        .slide-wrapper#wrapper-services
          .slide-container#slide-services
            .slide-container-content
              %h1.primary-title
                Services

              %h4.slide-content
                I can consult on your project in 3 key areas

              %h3.secondary-title
                System Analysis
              %h4.slide-content
                Helping you define the scope and purpose of your system.

              %h3.secondary-title
                System Design
              %h4.slide-content
                Shaping the experience.

              %h3.secondary-title
                System Implementation
              %h4.slide-content
                Using best-of-breed tools to customize a solution for your needs.

        .slide-wrapper#wrapper-about
          .slide-container#slide-about
            .slide-left-overhang#me-pic
            .slide-container-content
              %h1.primary-title
                About

              %h4.slide-content
                %p
                  Interrupt Software is Timothy Washington
                %p
                  Highly experienced and respected in the digital realm, he is a keen advocate of technology as a world view. He is a senior software developer with over a decade of experience architecting and building custom and enterprise software solutions. Tim is also an avid contributor to the open source community. he is an expert utiliser and visionary. From Lehman Brothers to Conde Nast, his vast portfolio reflects his eclectic expertise, professionalism and passion for his craft and its industry impact.

    .navigation
      .container
        #right-nav
          .nav-item.circle#home
            %span
          .nav-item-label
            home

          .nav-item.circle#blog
          .nav-item-label
            blog

          .nav-item.circle#introduction
          .nav-item-label
            introduction

          .nav-item.circle#approach
          .nav-item-label
            approach

          .nav-item.circle#services
          .nav-item-label
            services

          .nav-item.circle#about
          .nav-item-label
            about

          .nav-item.circle.spacer
          .nav-item-label.spacer
            &nbsp;


          // CV
          .nav-item.squeeze#cv
            .metrouicss
              .icons
                %li
                  .icon-lines
          .nav-item-label.squeeze
            cv

          // Email
          .nav-item.squeeze#email
            .metrouicss
              .icons
                %li
                  .icon-mail
          .nav-item-label.squeeze
            email

          // Twitter
          .nav-item.squeeze#twitter
            .metrouicss
              .icons
                %li
                  .icon-twitter
          .nav-item-label.squeeze
            twitter

          // LinkedIn
          .nav-item.squeeze#linkedin
            .metrouicss
              .icons
                %li
                  .icon-linkedin
          .nav-item-label.squeeze
            linkedIn

          // Github
          .nav-item.squeeze#github
            .metrouicss
              .icons
                %li
                  .icon-github-2
          .nav-item-label.squeeze
            github

    /.footer

    %script( type="text/javascript" src="/include/js/index.js")

