!!!
%html( lang="en" )
  %head
    %meta( charset="UTF-8" )
    %meta( name="viewport" content="width=device-width, initial-scale=1.0" )
    %title ; ) Interrupt Software

  %body

    .slider
      .slide-stretchable
        .slide-wrapper#wrapper-home
          .slide-container#slide-home
            .slide-left-overhang
              ; )
            .slide-container-content
              %h1.primary-title
                Interrupt Software
              %h3.secondary-title
                Custom Software Development &#x2F; Advanced Functionality &amp; Design Excellence

              %h4.slide-content
                %p
                  Tim is a gifted developer - thoughtful, strategic, and careful. We hired him to develop the StoryDesk CloudEditor. He delivered a beautiful, one-of-a-kind HTML5 content management system for iPad. I offer Tim my highest recommendation, as a colleague and a friend.
                .colleague
                  Jordan Stolper, CEO, StoryDesk.com

                %p
                  Tim is a strong Ruby and Rails developer, whom I worked with as a SCRUM Master on an operational data transformation and data store project. Tim was both proactive and balanced in his solutions from a business and technical standpoint, articulate, and was very effective in pair programming scenarios with different developers on the team. His attention to detail, adaptability and willingness to take on new challenges is further enhanced with his positive attitude. I would welcome working with Tim again and recommend him as a strong asset to any organization.
                .colleague
                  Cort Fowler, Product Manager and Business Analyst, Rogers Digital Media

                %p
                  Tim is one of the most intelligent, forward-thinking developers I've ever worked with. He possesses a deep pool of knowledge about all things related to software and uses that to engineer top-notch solutions. The diversity he's gained from experience with so many different languages and technologies gives him great perspective on technical approaches and strategies. He is also one of the most enthusiastic and proactive colleagues I've ever had the chance to work with, and I'm sure that he's up to any challenge that comes his way.
                .colleague
                  Stephen Kawaguchi, Engineer , Bank Of Montreal, IFL



        .slide-wrapper#wrapper-introduction
          .slide-container#slide-introduction
            .slide-container-content
              %h1.primary-title
                Introduction
              %h4.slide-content
                %p
                  Interrupt Software is a premier software development boutique. I create and utilise the best tools possible, to identify the problem, craft a solution and distill the technology&apos;s role and interaction.
                %p
                  Interrupt Software offers advanced functionality and design excellence. Technology is more than the context. It has the ability to reimagine behaviour and experience. It connects users with messages and customers with business. And this creates a tremendous amount of business value.
                %p
                  At Interrupt Software, I program as fast as I think. There's a great deal a of value in a well thought out solution. And doing it well leverages your investment for long-term impact.

        .slide-wrapper#wrapper-approach
          .slide-container#slide-approach
            .slide-container-content
              %h1.primary-title
                Approach

              %h4.slide-content
                %p
                  As a Full Stack developer, I see solutions at all levels. Considerations range from user needs to innovation and software craftsmanship.
                %p
                  My skill applies not only to custom building your software. It also creates better solutions, faster, by extracting greater expressive power from my software tools.

              %h3.secondary-title
                Understanding The Problem.

              %h4.slide-content
                %p
                  To break new ground, you have to understand the context. Each business and customer is different. I assess and evaluate all elements so I can effectively conceptualize the most advanced problems.

              %h3.secondary-title
                Choosing My Tools

              %h4.slide-content
                %p
                  My expertise is in knowing what tools to utilise and to what extent. As much utilization as creation, I select best-of-breed tools that enable me to program as fast as I problem solve.

              %h3.secondary-title
                Crafting Impactful Solutions

              %h4.slide-content
                %p
                  I aim to generate business and technological value with the solutions I deliver to you. They have to perform on every level, be as visually stunning as functionally impactful.


        .slide-wrapper#wrapper-services
          .slide-container#slide-services
            .slide-container-content
              %h1.primary-title
                Services

              %h4.slide-content
                I can consult on your project in 3 key areas

              %h3.secondary-title
                System Analysis
              %h4.slide-content
                Helping you define the scope and purpose of your system.

              %h3.secondary-title
                System Design
              %h4.slide-content
                Shaping the experience.

              %h3.secondary-title
                System Implementation
              %h4.slide-content
                Using best-of-breed tools to customize a solution for your needs.

        .slide-wrapper#wrapper-about
          .slide-container#slide-about
            .slide-left-overhang#me-pic
            .slide-container-content
              %h1.primary-title
                About

              %h4.slide-content
                %p
                  Interrupt Software is Timothy Washington
                %p
                  Highly experienced and respected in the digital realm, he is a keen advocate of technology as a world view. He is a senior software developer with over a decade of experience architecting and building custom and enterprise software solutions. Tim is also an avid contributor to the open source community. he is an expert utiliser and visionary. From Lehman Brothers to Conde Nast, his vast portfolio reflects his eclectic expertise, professionalism and passion for his craft and its industry impact.

    .navigation
      .container
        #right-nav
          .nav-item.circle#home
            %span
          .nav-item-label
            home

          .nav-item.circle#introduction
          .nav-item-label
            introduction

          .nav-item.circle#approach
          .nav-item-label
            approach

          .nav-item.circle#services
          .nav-item-label
            services

          .nav-item.circle#about
          .nav-item-label
            about

          .nav-item.circle.spacer
          .nav-item-label.spacer
            &nbsp;


          // CV
          .nav-item.squeeze#cv
            .metrouicss
              .icons
                %li
                  .icon-lines
          .nav-item-label.squeeze
            cv

          // Email
          .nav-item.squeeze#email
            .metrouicss
              .icons
                %li
                  .icon-mail
          .nav-item-label.squeeze
            email

          // Twitter
          .nav-item.squeeze#twitter
            .metrouicss
              .icons
                %li
                  .icon-twitter
          .nav-item-label.squeeze
            twitter

          // LinkedIn
          .nav-item.squeeze#linkedin
            .metrouicss
              .icons
                %li
                  .icon-linkedin
          .nav-item-label.squeeze
            linkedIn

  %link( rel="stylesheet" href="/include/vendor/bootstrap/css/bootstrap.min.css" )
  %link( rel="stylesheet" href="/include/vendor/bootstrap/css/bootstrap-responsive.min.css" )
  %link( rel="stylesheet" href="/include/vendor/Metro-UI-CSS/css/modern.css" )
  %link( rel="stylesheet" href="/include/css/index.css" )

  %script( type="text/javascript" src="/include/vendor/jquery-2.0.0.min.js" )
  %script( type="text/javascript" src="/include/vendor/bootstrap/js/bootstrap.min.js")
  %script( type="text/javascript" src="/include/vendor/jquery.serialScroll.js")
  %script( type="text/javascript" src="/include/vendor/jquery.scrollTo.js")
  %script( type="text/javascript" src="/include/vendor/jquery.easing.min.js")
  %script( type="text/javascript" src="/include/vendor/jquery.color-2.1.2.min.js")
  %script( type="text/javascript" src="/include/js/index.js")
