%html
  %head
    %meta( charset="UTF-8" )
    %meta( name="viewport" content="width=device-width, initial-scale=1.0" )
    %title ;) Interrupt Software

  %body

    .container
      .circle.logo
        ; )
      Fubar

      #right-nav
        .nav-item.circle#home
        .nav-item.circle#introduction
        .nav-item.circle#approach
        .nav-item.circle#services
        .nav-item.circle#about
        .nav-item
        .nav-item
        .nav-item
        .nav-item


  %link( rel="stylesheet" href="/include/vendor/bootstrap/css/bootstrap.min.css" )
  %link( rel="stylesheet" href="/include/vendor/bootstrap/css/bootstrap-responsive.min.css" )
  %link( rel="stylesheet" href="/include/css/index.css" )

  %script( type="text/javascript" src="http://code.jquery.com/jquery-2.0.0.min.js" )
  %script( type="text/javascript" src="/include/vendor/bootstrap/js/bootstrap.min.js")


