Custom Software Development
%br
%p.centre-content-copy Web & Mobile 
%p.centre-content-copy Advance Functionality & Design Excellence

%br
#centre-contact
  %ul
    %li 
      .copy-item-label 
        principal: 
      Timothy Washington
    %li 
      .copy-item-label 
        email: 
      twashing@gmail.com
    %li 
      .copy-item-label 
        twitter: 
      twitter.com/nutritioustim


