
.centre-title
  Software & Libraries 

.centre-copy 
  %ul
    %li
      .copy-item-label 
        %a( href="http://github.com/twashing/bkell" ) Bkell: 
      Clojure implementation of ‘Bkeeping’ in about 1/10th the amount of code. I was able to replace several important modules, including i) a custom XML/Java binding framework (like XMLBeans), ii) an XPath interpreter, and iii) a custom language and shell interpreter. 
    %li
      .copy-item-label 
        %a( href="http://repo.or.cz/w/Bookkeeping.git" ) Bkeeping: 
      Designed and implemented the programming language 'bkeeping' for specialized accounting tasks. (part of the 
      %a( href="http://repo.or.cz/w/Bookkeeping.git" )'Bookkeeping' 
      package)
    %li
      .copy-item-label 
        %a( href="http://repo.or.cz/w/Bookkeeping.git" ) Bookkeeping: 
      Architected and implemented a double-entry bookkeeping system and shell environment. 
    %li
      .copy-item-label 
        %a( href="http://repo.or.cz/w/Bob.git" ) XML: 
      Implemented XML 1.0 parser in Java.  (part of the 
      %a( href="http://repo.or.cz/w/Bob.git" ) 'Bob' 
      package)
    %li
      .copy-item-label 
        %a( href="http://repo.or.cz/w/xpath20.git" ) XPath 2.0: 
      Implemented XPath 2.0 parser in Java . 
    %li
      .copy-item-label 
        %a( href="http://repo.or.cz/w/Bob.git" ) Bob: 
      Designed and built an XML/Java binding library. 
    %li
      .copy-item-label 
        %a( href="http://sourceforge.net/projects/xmlas" ) XMLas: 
      Designed and built an XML/Javascript binding library. 

