
%p 
Software & Libraries 

• Bkell: Clojure implementation of ‘Bkeeping’ in about 1/10th the amount of code. I was able to replace several important modules, including i) a custom XML/Java binding framework (like XMLBeans), ii) an XPath interpreter, and iii) a custom language and shell interpreter. http://github.com/twashing/bkell
• Bkeeping: Designed and implemented the programming language 'bkeeping' for specialized accounting tasks. http://repo.or.cz/w/Bookkeeping.git (part of the 'Bookkeeping' package)
• Bookkeeping: Architected and implemented a double-entry bookkeeping system and shell environment. http://repo.or.cz/w/Bookkeeping.git
• XML: Implemented XML 1.0 parser in Java. http://repo.or.cz/w/Bob.git (part of the 'Bob' package)
• XPath 2.0: Implemented XPath 2.0 parser in Java . http://repo.or.cz/w/xpath20.git
• Bob: Designed and built an XML/Java binding library. http://repo.or.cz/w/Bob.git
• XMLas: Designed and built an XML/Javascript binding library. http://sourceforge.net/projects/xmlas

