!!! 5
%html{ :lang => "en" }
  %head

    %title Interrupt Software Inc. 
    %link( type="text/css" href="css/screen.css" rel="stylesheet" )
    %link( type="text/css" href="css/print.css" rel="stylesheet" )
    /[if IE]
      %link( type="text/css" href="css/ie.css" rel="stylesheet" )
    
    %link( type="text/css" href="css/index.css" rel="stylesheet" )

    %script( src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" )
  
  %body 
    #main-pane
    #overlay-pane 
      #main-ribbon
        /;) 
      
      #centre-column
        Interrupt Software Inc. 

        #centre-content
          Custom Software Development for
          %p.centre-content-emphasis Web &
          %p.centre-content-emphasis Mobile 

          #centre-contact
            %p principal: Timothy Washington
            %p email: twashing@gmail.com
            %p twitter: twitter.com/nutritioustim
      
      .menu
        .menu-item#item-about
          Profile
        .menu-item#item-portfolio
          Portfolio 

    #background-pane

