!!! 5
%html{ :lang => "en" }
  %head

    %title Interrupt Software Inc. 
    %link( type="text/css" href="css/screen.css" rel="stylesheet" )
    %link( type="text/css" href="css/print.css" rel="stylesheet" )
    /[if IE]
      %link( type="text/css" href="css/ie.css" rel="stylesheet" )
    
    %link( type="text/css" href="css/index.css" rel="stylesheet" )
  
  %body 
    #main-pane
    #overlay-pane 
      Overlay Pane 

