!!! 5
%html{ :lang => "en" }
  %head

    %title Interrupt Software Inc. 
    
    %link( type="image/x-icon" href="/favicon.ico" rel="shortcut icon" )
    %link( type="image/ico" href="/favicon.ico" rel="icon" )
    
    %link( type="text/css" href="css/screen.css" rel="stylesheet" )
    %link( type="text/css" href="css/print.css" rel="stylesheet" )
    /[if IE]
      %link( type="text/css" href="css/ie.css" rel="stylesheet" )
    
    %link( type="text/css" href="css/index.css" rel="stylesheet" )

    %script( src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" )
    %script( src="/js/index.js" )
  
  %body 
    #main-pane
    #overlay-pane 
      #main-ribbon
        /;) 
      
      #centre-column
        
        Interrupt Software Inc. 
        #centre-content
      
      .menu
        .menu-item#item-main
          Home
        .menu-item#item-about
          Profile
        .menu-item#item-portfolio
          Portfolio 

    #background-pane

