@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:700italic);
@font-face {
  font-family: 'league-gothic';
  src: url("/include/fonts/League-Gothic/LeagueGothic-Regular.otf"); }
@font-face {
  font-family: 'open-sans';
  src: url("/include/fonts/open-sans/OpenSans-Regular.ttf"); }
@font-face {
  font-family: "iconFont";
  src: url("/include/vendor/Metro-UI-CSS/fonts/iconFont.eot");
  src: url("/include/vendor/Metro-UI-CSS/fonts/iconFont.eot?#iefix") format("embedded-opentype"), url("/include/vendor/Metro-UI-CSS/fonts/iconFont.svg#iconFont") format("svg"), url("/include/vendor/Metro-UI-CSS/fonts/iconFont.woff") format("woff"), url("/include/vendor/Metro-UI-CSS/fonts/iconFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@-webkit-keyframes animation_scale {
  0%, 100% {
    -webkit-transform: scale(1); }

  50% {
    -webkit-transform: scale(0.85); } }
@-moz-keyframes animation_scale {
  0%, 100% {
    -moz-transform: scale(1); }

  50% {
    -moz-transform: scale(0.85); } }
@-o-keyframes animation_scale {
  0%, 100% {
    -o-transform: scale(1); }

  50% {
    -o-transform: scale(0.85); } }
@keyframes animation_scale {
  0%, 100% {
    transform: scale(1); }

  50% {
    transform: scale(0.85); } }
/* 

  Typography 

*/
body {
  font-family: "open-sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease; }

h1 {
  font-family: "league-gothic", "regular", serif;
  font-size: 6rem;
  margin: 0;
  font-weight: lighter; }

h2 {
  font-size: 1.8rem; }

h3 {
  font-size: 1.2em; }

.content {
  font-size: 0.8rem;
  line-height: 1.5; }

.caption {
  font-style: italic;
  color: #999; }

/*

  Main content


*/
.view {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none; }
  .view.in, .view.out, .view.active {
    display: block; }
  .transition .view {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .left .view.in {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }
  .left .view.active {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); }
  .left .view.out {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
  .right .view.in {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
  .right .view.active {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); }
  .right .view.out {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }
  .view .content {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 55rem;
    top: 5rem;
    margin-bottom: 5rem;
    padding-left: 8rem;
    padding-right: 12rem; }
    @media (max-width: 40em) {
      .view .content {
        padding: 0 1em; } }
  .view .title {
    position: relative;
    display: block;
    margin-bottom: 1em;
    font-family: "league-gothic", "regular", serif;
    font-size: 6rem;
    line-height: 1;
    margin: 0;
    font-weight: lighter; }
    .view .title .overhang {
      position: absolute;
      left: -7rem;
      top: 0; }
    .view .title .circle {
      width: 5rem;
      height: 5rem;
      margin: 0.5rem; }
      .view .title .circle img {
        width: 100%;
        border-radius: 100%; }

/*

  Navigation

*/
.icon {
  font-family: "iconFont";
  text-align: center;
  font-size: 1.1em;
  line-height: 2em;
  width: 2em;
  height: 2em; }

.icon-lines:before {
  content: "\e105"; }

.icon-file:before {
  content: "\e00f"; }

.icon-mail:before {
  content: "\e01a"; }

.icon-twitter:before {
  content: "\e0c0"; }

.icon-linkedin:before {
  content: "\e0dd"; }

.icon-github-2:before {
  content: "\e0c9"; }

#right-nav-button {
  display: none; }
  @media (max-width: 40em) {
    #right-nav-button {
      display: block;
      top: 0;
      right: 0;
      position: absolute;
      cursor: pointer;
      background: rgba(255, 255, 255, 0.5);
      font-size: 2.3em;
      text-align: center; } }

#right-nav {
  position: fixed;
  top: 5rem;
  right: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  /* Nav Item */
  /* colors for nav items */ }
  @media (max-width: 40em) {
    #right-nav {
      position: fixed;
      width: 100%;
      top: 5em;
      left: 0;
      background-color: rgba(255, 255, 255, 0.9);
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      transform: translateX(100%); }
      body.show-nav #right-nav {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%); } }
  #right-nav a.nav-item {
    padding-bottom: 0.5em; }
  #right-nav .nav-item {
    display: block;
    text-decoration: none;
    text-align: left;
    font-family: 'open-sans', serif;
    font-size: 0.95rem;
    cursor: pointer;
    color: black;
    -webkit-transition: color 200ms;
    -moz-transition: color 200ms;
    -ms-transition: color 200ms;
    -o-transition: color 200ms;
    transition: color 200ms;
    /* circle/icon to the left */
    /* label to the right */ }
    #right-nav .nav-item .icon, #right-nav .nav-item .circle {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      width: 2em;
      height: 2em; }
    #right-nav .nav-item .circle {
      border-radius: 50%;
      border: 1px solid #eeeeee; }
    body.no-touch #right-nav .nav-item:hover {
      color: white; }
    body.no-touch #right-nav .nav-item:hover .circle, body.no-touch #right-nav .nav-item:hover .icon {
      -webkit-animation: animation_scale 1s infinite;
      /* Safari 4+ */
      -moz-animation: animation_scale 1s infinite;
      /* Fx 5+ */
      -o-animation: animation_scale 1s infinite;
      /* Opera 12+ */
      animation: animation_scale 1s infinite;
      /* IE 10+ */ }
    #right-nav .nav-item .nav-item-label {
      display: inline-block; }
  #right-nav .introduction .circle {
    background-color: white; }
  #right-nav .approach .circle {
    background-color: #d91504; }
  #right-nav .services .circle {
    background-color: #ffcf00; }
  #right-nav .blog .circle {
    background-color: #81ba10; }
  #right-nav .about .circle {
    background-color: #0fa7d2; }
  #right-nav .spacer {
    height: 1rem; }
