@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:700italic);
@font-face {
  font-family: 'league-gothic';
  src: url("/include/fonts/League-Gothic/LeagueGothic-Regular.otf"); }

@font-face {
  font-family: 'open-sans';
  src: url("/include/fonts/open-sans/OpenSans-Regular.ttf"); }

.centered-content, html body .header .header-content, .slider .slide-stretchable .slide-wrapper .slide-container {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  top: 0; }

html {
  zoom: 0.6;
  height: 100%; }
  html body {
    font-family: 'League Gothic';
    -webkit-font-smoothing: antialiased;
    height: 100%;
    min-width: 1200px;
    min-height: 1250px;
    /* stickey header & Footer taken from:

       http://stackoverflow.com/questions/10474354/layout-with-fixed-header-and-footer-fixed-width-sidebar-and-flexible-content
       http://jsfiddle.net/QH68c/1

       also, there's: http://aozora.github.io/bootplus/examples/sticky-footer-navbar.html
    */ }
    html body .header {
      background: #ddd;
      position: absolute;
      opacity: 0;
      top: 0;
      width: 100%;
      height: 60px;
      box-shadow: 0px 4px 5px #888888; }
      html body .header .header-content .header-content-entry {
        font-family: "Gentium Book Basic", serif;
        font-style: italic;
        font-size: 40px;
        font-weight: bold;
        margin-top: 23px;
        margin-right: 2rem;
        float: left;
        cursor: pointer; }
      html body .header .header-content #cloudeditor-entry {
        font-family: 'PT Sans', Arial, Tahoma, Verdana, sans-serif;
        font-style: normal;
        font-weight: normal; }
    html body .footer {
      background: #f88;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 40px; }

.circle, .slider .slide-stretchable .slide-wrapper .slide-container .slide-left-overhang {
  border-radius: 50%; }

.logo {
  border: 1px #eee solid;
  width: 6rem;
  height: 6rem;
  position: relative;
  float: left;
  text-align: center;
  line-height: 1.25;
  font-family: 'open-sans', serif;
  font-size: 4rem;
  background: url("/images/transistor.jpg") 11% no-repeat; }

.primary-title {
  font-family: 'league-gothic', 'regular', serif;
  font-size: 10rem;
  font-weight: lighter; }

.secondary-title {
  font-family: 'open-sans', serif;
  font-size: 2rem; }

.post-title {
  font-size: 3rem; }

.slide-content {
  font-family: 'open-sans', serif;
  font-size: 1.3rem;
  line-height: 1.6rem; }
  .slide-content .colleague {
    font-style: italic;
    color: #999; }

/* Horizontal sliding taken from this JSFiddle: http://jsfiddle.net/seB5F/378/ */
.slider {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden; }
  .slider .slide-stretchable {
    width: 100%;
    height: 100%;
    white-space: nowrap; }
    .slider .slide-stretchable .slide-wrapper {
      width: 100%;
      height: 100%;
      margin-top: 12rem;
      display: inline-block;
      vertical-align: top; }
      .slider .slide-stretchable .slide-wrapper .slide-container .slide-left-overhang {
        width: 10rem;
        height: 10rem;
        margin-top: 2rem;
        top: -6rem;
        left: -10.4rem;
        line-height: 1;
        position: absolute;
        font-family: league-gothic, regular, serif;
        font-size: 160px;
        font-weight: normal; }
      .slider .slide-stretchable .slide-wrapper .slide-container #me-pic {
        background: url("/images/me.jpg") no-repeat;
        background-size: 22rem;
        background-position-x: -4.5rem; }
      .slider .slide-stretchable .slide-wrapper .slide-container .slide-container-content {
        width: 930px;
        white-space: normal; }
    .slider .slide-stretchable #wrapper-blog {
      overflow-y: scroll; }

.navigation {
  margin-top: 12rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  .navigation .container {
    width: 1200px; }
    .navigation .container #right-nav {
      width: 14rem;
      height: 42rem;
      float: right;
      padding: 0.5rem;
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.9);
      /* generic nav-item */
      /* colors for nov items */
      /* label to the right */ }
      .navigation .container #right-nav .nav-item {
        width: 3.6rem;
        height: 3.6rem;
        margin-bottom: 0.5rem;
        position: relative;
        float: left;
        text-align: center;
        font-family: 'open-sans', serif;
        font-size: 1.7rem;
        line-height: 3.5rem;
        cursor: pointer;
        /* For Modern CSS icons */ }
        .navigation .container #right-nav .nav-item .metrouicss {
          top: 0.4rem; }
          .navigation .container #right-nav .nav-item .metrouicss .icons > li {
            list-style-type: none;
            zoom: 2; }
      .navigation .container #right-nav #home {
        width: 3.4rem;
        height: 3.4rem;
        box-shadow: 2px 2px 3px #ddd;
        line-height: 3.1rem; }
      .navigation .container #right-nav #blog {
        background-color: #D91504; }
      .navigation .container #right-nav #introduction {
        background-color: #ffcf00; }
      .navigation .container #right-nav #approach {
        background-color: #81ba10; }
      .navigation .container #right-nav #services {
        background-color: #cfba58; }
      .navigation .container #right-nav #about {
        background-color: #0fa7d2; }
      .navigation .container #right-nav .nav-item-label {
        position: relative;
        float: left;
        width: 9rem;
        height: 3.6rem;
        margin-bottom: 0.5rem;
        padding-left: 0.8rem;
        font-family: 'open-sans', serif;
        font-size: 1.7rem;
        line-height: 3.5rem; }
      .navigation .container #right-nav .squeeze {
        margin: 0;
        height: 3.2rem;
        line-height: 2rem; }
      .navigation .container #right-nav .spacer {
        height: 2rem; }
