@font-face {
  font-family: 'league-gothic';
  src: url("/include/fonts/League-Gothic/LeagueGothic-Regular.otf"); }

@font-face {
  font-family: 'open-sans';
  src: url("/include/fonts/open-sans/OpenSans-Regular.ttf"); }

body {
  background: #81ba10;
  font-family: 'League Gothic';
  -webkit-font-smoothing: antialiased; }

.circle {
  border-radius: 50%; }

.logo {
  border: 1px #eee solid;
  width: 6rem;
  height: 6rem;
  position: relative;
  float: left;
  text-align: center;
  line-height: 1.25;
  font-family: 'open-sans', serif;
  font-size: 4rem;
  background: url("/images/transistor.jpg") 11% no-repeat; }

.primary-title {
  font-family: 'league-gothic', 'regular', serif;
  font-size: 10rem;
  font-weight: lighter; }

.secondary-title {
  font-family: 'open-sans', serif;
  font-size: 2rem; }

.slide-content {
  font-family: 'open-sans', serif;
  font-size: 1.3rem;
  line-height: 1.6rem; }

#parent {
  width: 100%;
  height: 200px;
  background: red;
  overflow-x: scroll;
  overflow-y: hidden; }
  #parent #stretchable-div {
    background: darkblue;
    width: 100%;
    white-space: nowrap; }
    #parent #stretchable-div .child {
      background: blue;
      width: 100%;
      height: 150px;
      display: inline-block; }

.slider {
  border: 1px solid red;
  margin-top: 12rem;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden; }
  .slider .slide-stretchable {
    background: grey;
    width: 100%;
    white-space: nowrap; }
    .slider .slide-stretchable .slide-wrapper {
      border: 1px solid blue;
      width: 100%;
      display: inline-block; }
      .slider .slide-stretchable .slide-wrapper .slide-container {
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 1200px;
        top: 0; }
        .slider .slide-stretchable .slide-wrapper .slide-container .slide-container-content {
          width: 930px; }

.navigation {
  margin-top: 12rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  .navigation .container {
    border: 1px solid black;
    width: 1200px; }
    .navigation .container #right-nav {
      width: 14rem;
      height: 36rem;
      float: right;
      padding: 0.5rem;
      border-radius: 5;
      background-color: rgba(255, 255, 255, 0.9);
      /* colors for nov items */
      /* generic nav-item */
      /* label to the right */ }
      .navigation .container #right-nav #home {
        background-color: #ffcf00; }
      .navigation .container #right-nav #introduction {
        background-color: #0fa7d2; }
      .navigation .container #right-nav #approach {
        background-color: #81ba10; }
      .navigation .container #right-nav #services {
        background-color: #da2020; }
      .navigation .container #right-nav #about {
        background-color: #172f4e; }
      .navigation .container #right-nav .nav-item {
        width: 3.6rem;
        height: 3.6rem;
        margin-bottom: 0.5rem;
        position: relative;
        float: left;
        text-align: center;
        font-family: 'open-sans', serif;
        font-size: 1.7rem;
        line-height: 3.5rem;
        /* For Modern CSS icons */ }
        .navigation .container #right-nav .nav-item .metrouicss {
          top: 0.4rem; }
          .navigation .container #right-nav .nav-item .metrouicss .icons > li {
            list-style-type: none;
            zoom: 3; }
      .navigation .container #right-nav .nav-item-label {
        position: relative;
        float: left;
        width: 9rem;
        height: 3.6rem;
        margin-bottom: 0.5rem;
        padding-left: 0.8rem;
        font-family: 'open-sans', serif;
        font-size: 1.7rem;
        line-height: 3.5rem; }
      .navigation .container #right-nav .squeeze {
        margin: 0;
        height: 3.2rem; }
      .navigation .container #right-nav .spacer {
        height: 2rem; }
