.circle {
  border-radius: 50%; }

.logo {
  border: 1px #eee solid;
  width: 8rem;
  height: 8rem;
  text-align: center;
  line-height: 1.75;
  font-size: 4rem;
  background: url("/images/transistor.jpg") 11% no-repeat; }

#right-nav {
  border: 1px black solid;
  width: 18rem;
  height: 40rem; }
  #right-nav .nav-item {
    border: 1px black solid;
    width: 3.6rem;
    height: 3.6rem;
    margin-bottom: 0.5rem;
    position: relative;
    float: left;
    text-align: center;
    font-size: 1.7rem;
    line-height: 3.5rem; }
  #right-nav .nav-item-label {
    border: 1px black solid;
    position: relative;
    float: left;
    width: 11rem;
    height: 3.6rem;
    margin-bottom: 0.5rem;
    padding-left: 0.8rem;
    font-size: 1.7rem;
    line-height: 3.5rem; }
  #right-nav #home {
    background-color: #ffcf00; }
  #right-nav #introduction {
    background-color: #0fa7d2; }
  #right-nav #approach {
    background-color: #81ba10; }
  #right-nav #services {
    background-color: #da2020; }
  #right-nav #about {
    background-color: #172f4e; }
